/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Raleway:wght@300;700&display=swap');

/* ---------------------------background-------------------------------------*/
/* CREDIT code for background gradient - https://codepen.io/dimitrisraptis96/pen/NWrrRLB 
modified to create a custom design */
html{ 
    background: 
      linear-gradient(180deg, rgba(13, 78, 65, 0) 20%, rgba(54, 168, 159, 0.1) 20%, rgba(120, 197, 207, 0.1) 40%, rgba(128, 191, 207, 0.493) 40%, rgba(126, 171, 207, 0.2) 60%, rgba(166, 182, 235, 0.4) 60%, rgba(117, 162, 199, 0.4) 80%, rgba(121, 150, 187, 0.5) 80%),
      linear-gradient(45deg, rgba(105, 151, 140, 0.3) 20%, rgba(5, 58, 107, 0.4) 20%, rgba(101, 175, 194, 0.4) 40%, rgba(149, 196, 218, 0.5) 40%, rgba(153, 180, 211, 0.5) 60%, rgba(156, 212, 238, 0.6) 60%, rgba(163, 213, 236, 0.6) 80%, rgba(133, 168, 197, 0.7) 80%),
      linear-gradient(-45deg, rgba(45, 89, 102, 0) 20%, rgba(90, 153, 168, 0.1) 20%, rgba(89, 154, 170, 0.1) 40%, rgba(110, 171, 173, 0.2) 40%, rgba(143, 216, 198, 0.2) 60%, rgba(122, 172, 201, 0.4) 60%, rgba(130, 166, 190, 0.4) 80%, rgba(107, 143, 167, 0.6) 80%),
      linear-gradient(90deg, rgba(55, 99, 175, 0) 20%, rgba(178, 206, 254,.3) 20%, rgba(76, 101, 145, 0.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(116, 169, 182, 0.8) 80%),
      linear-gradient(-90deg, rgba(202, 115, 191, 0) 20%, rgba(226, 143, 215, 0.4) 20%, rgba(180, 110, 171, 0.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(235, 173, 226, 0.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(206, 126, 195, 0.8) 80%),
      linear-gradient(180deg, rgba(233, 174, 203, 0) 20%, rgba(218, 119, 127, 0.4) 20%, rgba(226, 169, 174, 0.4) 40%, rgba(228, 163, 168, 0.6) 40%, rgba(223, 165, 170, 0.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(204, 150, 155, 0.9) 80%)
  ;
    background-color: rgb(109, 206, 209);
    background-size: 100% 100%;
    min-height: 100%;
  }
/* end credit */

/* ---------------------------font styling-------------------------------------*/

html body{
    font-family: 'Lato', sans-serif;
    font-size: 1.0625rem;
    color: #263238;
    overflow-y: scroll;
    overflow: scroll !important;
}
 /* h1-h6 */
h1{
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(240, 91, 189);
    color: transparent;
    text-shadow: 3px 2px #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

.inner-page-h1{
    font-size:2rem;
    color:black;
    text-shadow: none;
    background-color:transparent;
    margin: 0.7rem 0 0.7rem 0;
    font-weight: bolder;
}

h2{
    font-size: 2.5rem;
    color: #042e56;
}

h3{
    font-size: 1.7rem;
    color: #042e56;
}

/* general font styling */
p{
    font-size: 1.2rem;
}

.blue-title-p{
    font-size: 1.5rem !important;
    color: #2196F3;
    margin-bottom: 10px !important;
}

.bold{
    font-weight:bolder;
}

.small-font{
    font-size:1rem;
}

.trimmed{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.elipsed{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* custom margin & padding */
.mb3{
    margin-bottom:30px !important;
}


.m504{
    margin:50px 0 40px;
}

.mt2{
    margin-top:20px !important;
}
/* custom padding */

.prl4{
    padding: 0 4px !important;
}

.pt2 {
    padding-top:20px;
}

.pb1{
    padding-bottom:1.0933333333rem !important;
}

/* custom heights */
.height-200{
    height:200px !important;
}

/* links */
.pink-hover:hover{
    color: #db0086;
}

/* ---------------------------navbar-------------------------------------*/

.brand-logo img{
    padding:2px 0 0 10px;
}

.brand-logo,
.sidenav .mobile-brand-logo .brand-logo{
    height:100px;
    padding:15px 0;
}

.sidenav .mobile-brand-logo .brand-logo:hover {
    background-color: white;
}

.sidenav li>a,
nav ul a,
nav a {
    color: #024bae;
    font-size:20px;
}

nav ul a:hover,
.sidenav li>a:hover {
    background-color: rgb(159 46 135 / 12%);
}

/* footer */
.footer-container{
    background-color: white;
    margin:30px 0 0;
    padding: 50px 0;
}

.footer-container span {
    font-size: 1.7rem;
    padding-right: 10px;
    vertical-align: middle;
    color: #024bae;
}

.copyright-wrapper .material-icons,
.social-media-wrapper a i{
    font-size:30px;
    vertical-align: middle;
    margin: 0 10px;
    color: #024bae;
}

.copyright-text:hover + .name-github,
.name-github:hover,
.social-media-wrapper a i:hover{
    color: #db0086;
}


/* ---------------------------pagination-------------------------------------*/

.pagination li a {
    color: #fff;
    display: inline-block;
    font-size: 1.3rem;
    padding: 0 10px;
    background-color: #ff80ab;
}

.active-pag{
    background-color: #db0086 !important;
}

/* ---------------------------card styling-------------------------------------*/

.activator{
    cursor: pointer;
}

/* set position for read more btn */
.book-card{
    position: relative;
}
/* book card image */
.book-card .card-image img {
    max-height: 420px;
    min-height: 270px;
}

/* book card content */
.book-card .book-card-content {
    padding: 10px 20px;
    border-radius: 0 0 2px 2px;
    height: 170px;
}

/* only in inner page*/
.bookpage-cover-image {
    width: 100%;
    height: auto;
    margin: auto;
    max-width: 400px;
    max-height: 400px;
}


.shadow-box-none{
      box-shadow: none;
}

/* ---------------------------buttons-------------------------------------*/

/* color for all btns */
.delete-button,
.edit-button,
.add-button{
    background-color: #ff80ab !important;
    margin:5px;
    width:100px;
}
/* apply diff hover color for edit/delete/add */
.delete-button:hover{
    background-color:#e91e63 !important;
}

.edit-button:hover{
    background-color:#1c3db2 !important;
}

.add-button:hover{
    background-color: #1e8276 !important;
}

/* read more button on search books (cards)*/
.read-more-btn{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.2s;
    text-transform: capitalize;
    width:90%;
    height:35px;
    position: absolute;
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
}

.read-more-btn:hover{
    color:white;
    background-color:#db0086;
}

/* ---------------------------flash messages-------------------------------------*/

.success-flash{
    color: #1e8276;
}

.error-flash{
    color: #db0086;
}

.warning-flash{
    color: #ef6f14;
}

.flash-title{
    margin-bottom:10px;
    text-transform: capitalize;
    font-size: 1.8rem;
}
/* ---------------------------flex & grid-------------------------------------*/

.flex-container-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* bookpage book image & description grid */
.grid {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.flexbox-container-row {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.flex-item-center{
    display: flex;
    align-items: center;
}

/* ---------------------------star rating-------------------------------------*/

/* avg star rating on cards */
.book-rating{
    font-size:1.5rem;
    display: flex;
    justify-content: left;
    height:30px;
}

/* star rating on "add a review" card */
/* CREDIT https://codepen.io/hesguru/pen/BaybqXv */

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > input {
    position:absolute;
}

.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;    
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.star-icon-gold{
    color:#ffc700;
}

.star-icon-black{
    color:#7a7a7a;
}

/* ---------------------------materialise form colors-------------------------------------*/
/* CREDIT https://stackoverflow.com/questions/44942347/change-the-default-color-of-materialize-css-input-fields-i-have-attached-screen 
modiefied slightly*/

/* label color */
.input-field label {
    color: #006064;
}
/* label focus color */
.input-field input[type=text]:focus + label,
.input-field input[type=password]:focus + label{
    color: #00acc1;
}
/* label underline focus color */
.input-field input[type=text]:focus,
.input-field input[type=password]:focus{
    border-bottom: 1px solid #00acc1;
    box-shadow: 0 1px 0 0 #006064;
}

/* valid color */
.input-field input[type=text].valid,
input.valid[type=text]:not(.browser-default), 
input.valid[type=text]:not(.browser-default):focus,
.input-field input[type=password].valid,
input.valid[type=password]:not(.browser-default), 
input.valid[type=password]:not(.browser-default):focus{
    border-bottom: 1px solid #00acc1;
    box-shadow: 0 1px 0 0 #00acc1;
}

/* invalid color */
.input-field input[type=text].invalid,
input.invalid[type=text]:not(.browser-default), 
input.invalid[type=text]:not(.browser-default):focus,
.input-field input[type=password].invalid,
input.invalid[type=password]:not(.browser-default), 
input.invalid[type=password]:not(.browser-default):focus{
    border-bottom: 1px solid #e780a3;
    box-shadow: 0 1px 0 0 #e780a3;
}

textarea.materialize-textarea.valid,
textarea.materialize-textarea.valid, 
textarea.materialize-textarea.valid:focus{
    border-bottom: 1px solid #00acc1;
    box-shadow: 0 1px 0 0 #00acc1;
}

textarea.materialize-textarea.invalid,
textarea.invalid, 
textarea.materialize-textarea.invalid:focus{
    border-bottom: 1px solid #e780a3;
    box-shadow: 0 1px 0 0 #e780a3;
}

/* end credit*/
/*
@media all and (max-width:30em){
    .books-button-styling{
        display:block;
        margin:0.4em auto;
    }
}
*/

/*
.flashes h4{
    line-height: 2;
}
*/

/*.custom-text{
    font-family: 'Raleway', sans-serif;
} */

/* card */


/*

.page-link {
    border-radius: 5px;
    background-color: #eceff1;
    color: #000000;
    border: 0.5px solid;
}

.page-link:hover {
    color: #eceff1;
    background-color: #263238;
}
*/
/* profile 
.custom-icon{
    width:100%;
    text-align:center;
}
*/
/* review */

/* *{
    margin: 0;
    padding: 0;
}
*/
/* .wrapper{
    max-width:500px;
} */

/*.height-300{
    height: 300px;
} */

/* was panel under search bar */
/* .custom-card-panel{
    box-shadow: none;
    padding: 10px 24px;
}

.custom-card-panel p{
    font-size: 1.3rem;
}
*/
/*.books-book-title{
    font-size: 1.0625rem;
}

.bookpage-title{
    font-weight:bold;
    font-size:1.3rem;
}
/*.mt2{
    margin-top: 20px;

.button-styling{
    margin:5px;
    width:100px;
}

.book-name{
    font-weight:bold
}
}

 /*.card.medium .bookpage-card-image{
    max-height:400px;
} */

