@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goudy+Bookletter+1911&family=Raleway&display=swap');

/* CREDIT https://codepen.io/dimitrisraptis96/pen/NWrrRLB*/
html{ 
    background: 
      linear-gradient(180deg, rgba(13, 78, 65, 0) 20%, rgba(54, 168, 159, 0.1) 20%, rgba(120, 197, 207, 0.1) 40%, rgba(128, 191, 207, 0.493) 40%, rgba(126, 171, 207, 0.2) 60%, rgba(166, 182, 235, 0.4) 60%, rgba(117, 162, 199, 0.4) 80%, rgba(121, 150, 187, 0.5) 80%),
      linear-gradient(45deg, rgba(105, 151, 140, 0.3) 20%, rgba(5, 58, 107, 0.4) 20%, rgba(101, 175, 194, 0.4) 40%, rgba(149, 196, 218, 0.5) 40%, rgba(153, 180, 211, 0.5) 60%, rgba(156, 212, 238, 0.6) 60%, rgba(163, 213, 236, 0.6) 80%, rgba(133, 168, 197, 0.7) 80%),
      linear-gradient(-45deg, rgba(45, 89, 102, 0) 20%, rgba(90, 153, 168, 0.1) 20%, rgba(89, 154, 170, 0.1) 40%, rgba(110, 171, 173, 0.2) 40%, rgba(143, 216, 198, 0.2) 60%, rgba(122, 172, 201, 0.4) 60%, rgba(130, 166, 190, 0.4) 80%, rgba(107, 143, 167, 0.6) 80%),
      linear-gradient(90deg, rgba(55, 99, 175, 0) 20%, rgba(178, 206, 254,.3) 20%, rgba(76, 101, 145, 0.3) 40%, rgba(178, 206, 254,.5) 40%, rgba(178, 206, 254,.5) 60%, rgba(178, 206, 254,.7) 60%, rgba(178, 206, 254,.7) 80%, rgba(116, 169, 182, 0.8) 80%),
      linear-gradient(-90deg, rgba(202, 115, 191, 0) 20%, rgba(226, 143, 215, 0.4) 20%, rgba(180, 110, 171, 0.4) 40%, rgba(242, 162, 232,.5) 40%, rgba(242, 162, 232,.5) 60%, rgba(235, 173, 226, 0.6) 60%, rgba(242, 162, 232,.6) 80%, rgba(206, 126, 195, 0.8) 80%),
      linear-gradient(180deg, rgba(233, 174, 203, 0) 20%, rgba(218, 119, 127, 0.4) 20%, rgba(226, 169, 174, 0.4) 40%, rgba(228, 163, 168, 0.6) 40%, rgba(223, 165, 170, 0.6) 60%, rgba(254, 163, 170,.8) 60%, rgba(254, 163, 170,.8) 80%, rgba(204, 150, 155, 0.9) 80%)
  ;
    background-color: rgb(109, 206, 209);
    background-size: 100% 100%;
    min-height: 100%;
  }
/*
font-family: 'Goudy Bookletter 1911', serif;
font-family: 'Raleway', sans-serif;
*/

html body{
    font-family: 'Goudy Bookletter 1911', serif;
    font-size: 17px;
    color: #263238;
}

.custom-font-weight{
    font-weight:bolder;
}

h3, h4 {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(240, 91, 189);
    color: transparent;
    text-shadow: 3px 2px #ffffff;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

h5,
h6{
    font-weight:bolder
}

.brand-logo img{
    padding:2px 0 0 10px;
}
/* form materialise */
  /* label color */
   .input-field label {
     color: #006064;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label,
   .input-field input[type=password]:focus + label{
     color: #00acc1;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus,
   .input-field input[type=password]:focus{
     border-bottom: 1px solid #00acc1;
     box-shadow: 0 1px 0 0 #006064;
   }
 
.books-button-styling{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align: center;
    transition: all 0.2s;
}
.books-button-styling:hover{
    color:white;
    background-color:#db0086;
}

.page-title-margin{
    margin:50px 0 40px;
}

@media all and (max-width:30em){
    .books-button-styling{
        display:block;
        margin:0.4em auto;
    }
}
   /* valid color */
   .input-field input[type=text].valid,
   input.valid[type=text]:not(.browser-default), 
   input.valid[type=text]:not(.browser-default):focus,
   .input-field input[type=password].valid,
   input.valid[type=password]:not(.browser-default), 
   input.valid[type=password]:not(.browser-default):focus{
     border-bottom: 1px solid #00acc1;
     box-shadow: 0 1px 0 0 #00acc1;
   }
   /* invalid color */
   .input-field input[type=text].invalid,
    input.invalid[type=text]:not(.browser-default), 
   input.invalid[type=text]:not(.browser-default):focus,
   .input-field input[type=password].invalid,
   input.invalid[type=password]:not(.browser-default), 
   input.invalid[type=password]:not(.browser-default):focus{
     border-bottom: 1px solid #e780a3;
     box-shadow: 0 1px 0 0 #e780a3;
   }

   textarea.materialize-textarea.valid,
   textarea.materialize-textarea.valid, 
   textarea.materialize-textarea.valid:focus{
    border-bottom: 1px solid #00acc1;
    box-shadow: 0 1px 0 0 #00acc1;
   }

    textarea.materialize-textarea.invalid,
    textarea.invalid, 
    textarea.materialize-textarea.invalid:focus{
    border-bottom: 1px solid #e780a3;
     box-shadow: 0 1px 0 0 #e780a3;
    }

/* navbar styling */

.sidenav li>a,
nav ul a,
nav a {
    color: #024bae;
    font-weight:bold;
    font-size:20px;
}

nav ul a:hover,
.sidenav li>a:hover {
    background-color: rgb(159 46 135 / 12%);
}

.brand-logo,
.sidenav .mobile-brand-logo .brand-logo{
    height:100px;
    padding:15px 0;
}

.sidenav .mobile-brand-logo .brand-logo:hover {
    background-color: white;
}


.flashes h4{
    line-height: 2;
}

/* Home page */
.book-card .card-image img {
    max-height: 370px;
    min-height: 270px;
}

.book-card .book-card-content {
    padding: 10px 20px;
    border-radius: 0 0 2px 2px;
    height: 160px;
}

.col-padding-mobile{
    padding: 0 .25rem !important;
}

.custom-text{
    font-family: 'Raleway', sans-serif;
}

.book-card{
    position: relative;
}

.books-button{
    text-transform: capitalize;
    width:90%;
    height:35px;
    position: absolute;
    bottom:10px;
    left:50%;
    transform: translateX(-50%);
}

.books-book-title{
    font-size:17px;
}

.elipsed-text{
    overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;
}

/* book page */
.grid {
  display: flex;
  flex-wrap: wrap;
}

.book-image {
  width: 100%;
  height: auto;
  margin: auto;
  max-width: 400px;
}

.shadow-box-none{
    box-shadow: none;
}
.book-section {
    padding-top:20px;
}

.book-name{
    font-weight:bold
}

.bookpage-title{
    font-weight:bold;
    font-size:1.3rem;
}

.margin-after-title{
    margin-top:20px;
}
.flexbox-container-bookpage-title {
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: flex-end;
    align-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

.flex-item{
    display: flex;
    align-items: center;
}

.card.medium .bookpage-card-image{
    max-height:400px;
}

.books-rating{
    font-size:1.5rem;
    display: flex;
    justify-content: left;
    height:30px;
}

.book-page-buttons{
     margin-top: 20px;
}

/* profile */
.card-panel-reviews{
    height: 300px;
}

/* edit & delete buttons*/
.button-styling{
    margin:5px;
}

/* search bar */
.search-button{
    margin-top:14px;
}

.page-link {
    border-radius: 5px;
    background-color: #eceff1;
    color: #000000;
    border: 0.5px solid;
}

.page-link:hover {
    color: #eceff1;
    background-color: #263238;
}

/* profile */
.custom-icon{
    width:100%;
    text-align:center;
}

/* review */

.activator{
  cursor: pointer;
}

/* CREDIT https://codepen.io/hesguru/pen/BaybqXv*/

*{
    margin: 0;
    padding: 0;
}
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.star-icon-gold{
    color:#ffc700;
}

.star-icon-black{
    color:#7a7a7a;
}