{% extends "base.html" %}
{% block content %}

<h3 class="center-align">
    Add Book
</h3>
<p>
    You searched our <a href="{{ url_for('get_books') }}" class="light-blue-text text-darken-4">database</a> & couldn't find the book you were looking for.
    No problem! Add it below.
</p>
<div class="row card-panel">
    <form class="col s12" method="POST" action="">
        <div class="row">            
            <div class="input-field col s12">
                <select multiple id = "genre_name" name="genre_name" class="validate" required>
                    <option value="" disabled selected>Choose Genre</option>
                    {% for genre in genres %}
                        <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                    {% endfor %}
                </select>
            </div>
           <!-- <div class="input-field col s12">
                <input id="choose_genre" name="choose_genre" type="text" class="validate" required>
                <label for="choose_genre">Choose Genre</label>
            </div> -->
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input id="book_title" name="book_title" type="text" class="validate" maxlength="50" required>
                <label for="book_title">Book Title</label>
            </div>
            <div class="input-field col s6">
                <input id="author" name="author" type="text" class="validate" min-length="5" max-length="30" required>
                <label for="author">Author</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="image_url" name="image_url" type="text" class="validate">
                <label for="image_url">Image Url</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="blurb" name="blurb" class="materialize-textarea"></textarea>
                <label for="blurb">Blurb </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="buy_url" name="buy_url" type="text" class="validate">
                <label for="buy_url">Buy now Url</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <div class="switch">
                    <i class="material-icons prefix">star_border</i>
                    <label for="is_upvoted">
                        <input type="checkbox" id="is_upvoted" name="is_upvoted">
                        <span class="lever"></span>
                        Is Upvoted
                    </label>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}