{% extends "base.html" %}
{% block content %}

<h3 class="center-align"> Search Books</h3>

<div class="">
    <!--search bar-->
    <div class="row conatiner">
        <!--search index-->
        <form action= "{{ url_for('search') }}" method="POST" class = " input-field col s6 m4">
                <input type="text" placeholder="Emma" name="query" id="query" minlength="3" class="validate" required>
                <label for="query">Search Books</label>
                <button type="submit" class = "waves-effect waves-light btn button-styling">
                      <i class="material-icons">search</i>
        </button>
        </form>
        <!-- Filter by genre -->
        <form action="" method="POST" class="input-field col s6 m4">
            <select multiple id="genre_name" name="genre_name" class="validate" required>
                <option value="" disabled selected>Choose Genre</option>
                {% for genre in genres %}
                <option value="{{ genre.genre_name }}">{{ genre.genre_name }}</option>
                {% endfor %}
            </select>
            <label for="genre_name">Book Genre</label>
        </form>
        <!--sort by-->
        <form action="" method="POST" class="input-field col s6 m4">
            <select multiple>
                <option value="" disabled selected>sort by</option>
                <option value="1">A-Z</option>
                <option value="2">Z-A</option>
                <option value="3">Newest</option>
                <option value="4">Oldest</option>
            </select>
            <label>Sort By</label>
        </form>
    </div>
    <div class="row">
        <div class="col s12 center-align">
        <a href="{{ url_for('get_books') }}" class = "waves-effect waves-light btn button-styling">
            Reset
        </a>
    </div>
</div>

{% if books|length > 0 %}
    <div class="row container">
    {% for book in books %}
        <div class="col s6 m4">
            <div class="card">
                <div class="card-image">
                    <img class = "activator" src="{{ book.image_url }}">
                </div>
                <div class="card-content cyan darken-1">
                <span class="card-title activator white-text custom-text">{{ book.book_name }}
                    <i class="material-icons right">more_vert</i>
                <p>{{ book.author }}</p>
                </span>
                </div>   
                <div class="card-reveal cyan darken-1"> 
                    <span class="card-title white-text custom-text">
                        <i class="material-icons right">close</i>
                        <strong>{{ book.book_name }}</strong>
                        <p> {{ book.genre_name }}</p>
                        {% if book.is_upvoted == "on" %}
                            <p>{{ book.is_upvoted }} </p>
                        {% endif %}
                        <p><a href="{{ url_for( 'bookpage', book_name=book.book_name) }}">click</a></p>                
                    </span>
                </div>
                </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <h4 class="center-align"> No Results Found</h4>
{% endif %}

{% endblock %}