{% extends "base.html" %}
{% block content %}
<!-- book section-->
    <div class="row book-section">
        <div class="col s12 m5">
            <div class="grid">
                <img src="{{get_book.image_url }}" alt="book cover image" class="book-image" height="600" width="400">
            </div>
        </div>
        <div class="col s12 m7">
            <div class="row">               
                    <div class="col col s6 offset-s6 m4 offset-m8 book-page-buttons">
                       <a href = "{{ url_for('edit_book', book_name=get_book.book_name, id=get_book._id) }}" class="waves-effect waves-light btn-small button-styling">Edit</a>
                        <a class="waves-effect waves-light btn-small button-styling">Delete</a>
                    </div>
                <div class="col s12">
                    <h5 class="center">
                        <span class="book-name">
                            {{ get_book.book_name }}
                        </span>
                    </h5>
                </div>
                <div class="col s12">
                    <p>
                        <span class= "bookpage-title">
                        Author:                                   
                        </span>
                            {{ get_book.author }}
                    </p>
                </div>
                <div class="col s12">
                    <p>
                        <span class="bookpage-title">
                        Genre:                                   
                        </span>
                            {{ get_book.genre_name }}
                    </p>
                </div>
                <div class="col s12">
                    <p class= "center">
                        <span class="center bookpage-title">Description: </span>
                        <br>
                            {{ get_book.description }}
                    </p>
                </div>
            </div>

        </div>
    </div>
<!-- revie section -->
{% endblock %}