{% extends "base.html" %}
{% block content %}

<h3 class="center-align"> Search Books</h3>

<div class="">
    <!--search bar-->
    <div class="row container">
        <form action= "{{ url_for('search') }}" method="POST" class = "col s12">
            <div class="card-panel">
                <div class="row">
                    <!--search index-->
                    <div class="col s12 m10 input-field">
                        <input type="text" placeholder="Search by Author or Book Title" name="query" id="query" minlength="3" class="validate" required>
                        <label for="query" class="form-label-style">Enter a Keyword</label>
                    </div>
                    <!-- Submit button -->
                    <div class="col s12 m2">
                        <button type="submit" class = "waves-effect waves-light btn button-styling search-button pink accent-1">
                            <i class="material-icons">search</i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <!--sort by-->
    {% if post is not defined %}
    <div class="row container">
        <div class="col">
            <!-- Dropdown Trigger -->
            <a class="dropdown-trigger btn waves-effect waves-light pink accent-1" data-target="dropdown1">Sort by</a>
    
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content">
                <li><a href="{{ url_for('books_a_to_z') }}">A-Z</a></li>
                <li><a href="{{ url_for('books_z_to_a') }}">Z-A</a></li>
                <li><a href="{{ url_for('books_new') }}">Newly Added</a></li>
            </ul>
        </div>
        {% endif %}
        <!-- buttons-->
    </div>
    {% if books|length > 0 %}
    <div class="row container">
    {% for book in books %}
        <div class="col s6 m4">
            <div class="card medium">
                <div class="card-image">
                    <img class = "activator" src="{{ book.image_url }}">
                </div>
                <div class="card-content black">
                    <span class="white-text custom-text">
                        <div class="books-rating">
                            {% for avgrating in avgratings %}
                                {% if avgrating._id == book._id %}
                                    <i class="material-icons star-icon-gold small">star</i>&nbsp;
                                    {{ avgrating.averageRating }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <p class="books-book-title">
                            {{ book.book_name }}
                        </p>
                        <p>
                            <span class="left">
                                - {{ book.author }}
                            </span>
                            {% if book.genre_name == "Romance" %}
                            <span class="material-icons right">
                                favorite_border
                            </span>
                            {% elif book.genre_name == "Children's Books" %}
                            <span class="material-icons-outlined right">
                                accessibility
                            </span>
                            {% elif book.genre_name == "Fantasy & Sci-fi" %}
                            <span class="material-icons-outlined right">
                                android
                            </span>
                            {% elif book.genre_name == "Crime & Thriller" %}
                            <span class="material-icons-outlined right">
                                sports_kabaddi
                            </span>
                            {% elif book.genre_name == "Religious & Self-help" %}
                            <span class="material-icons-outlined right">
                                self_improvement
                            </span>
                            {% endif %}
                        </p>
                        <div>
                            <a href="{{ url_for( 'bookpage', book_name=book.book_name) }}" class="grey small waves-effect waves-light btn books-button">
                                read more
                            </a>
                        </div>
                    </span>
                </div>                   
            </div>
        </div>
    {% endfor %}
    </div>
{% else %}
    <h4 class="center-align"> No Results Found</h4>
    <div class="col s12 m4 center-align">
        <a href="{{ url_for('books_new') }}" class="waves-effect waves-light btn button-styling">
            Reset
        </a>
    </div>
{% endif %}
    <!--pagination-->
    <div class="row">
        <div class="col s4 offset-s4 center-align">
            <ul class="pagination">
            {% if pages %}
                {% for i in range(pages) %}
                    <li class="waves-effect">
                        <a href="{{ url_for('books_new', page=loop.index) }}"
                            tabindex="-1">{{ loop.index }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}