{% extends "base.html" %}
{% block content %}
<!-- book section-->
    <div class="row book-section container">
        <div class="col s12 m5">
            <div class="grid">
                <img src="{{get_book.image_url }}" alt="book cover image" class="book-image" height="600" width="400">
            </div>
        </div>
        <div class="col s12 m7">
            <div class="row">
                {% if session.user|lower == get_book.created_by|lower %}               
                    <div class="col col s6 offset-s6 m4 offset-m8 book-page-buttons">
                       <a href = "{{ url_for('edit_book', book_name=get_book.book_name, id=get_book._id) }}" class="waves-effect waves-light btn-small button-styling">Edit</a>
                        <a href = "{{ url_for('delete_book', book_name=get_book.book_name, id=get_book._id) }}"  class="waves-effect waves-light btn-small button-styling">Delete</a>
                    </div>
                {% endif %}
                <div class="col s12">
                    <h5 class="center">
                        <span class="book-name">
                            {{ get_book.book_name }}
                        </span>
                    </h5>
                </div>
                <div class="col s12">
                    <p>
                        <span class= "bookpage-title">
                        Author:                                   
                        </span>
                            {{ get_book.author }}
                    </p>
                </div>
                <div class="col s12">
                    <p>
                        <span class="bookpage-title">
                        Genre:                                   
                        </span>
                            {{ get_book.genre_name }}
                    </p>
                </div>
                <div class="col s12">
                    <p class= "center">
                        <span class="center bookpage-title">Description: </span>
                        <br>
                            {{ get_book.description }}
                    </p>
                </div>
            </div>

        </div>
    </div>
<!-- review section -->
    <div class="row container">
        <div class="col s12">
            <h4 class = "center-align">
                User Reviews
            </h4>
        </div>
    </div>
    <div class="row container">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Card Title</span>
                    <p>I am a very simple card. I am good at containing small bits of information.
                        I am convenient because I require little markup to use effectively.</p>
                    <p>Posted by: name</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-header">
                        Add a Review
                    </div>
                    <div class="card-body align-center">
                        <form method="POST" ation="">
                            <textarea class="" maxlength="800" minlength="20" name="review" id="review" rows="6">
                             </textarea>
                            <div class="align-center"><button class="waves-effect waves-light btn-small button-styling"
                                    type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}