{% extends "base.html" %}
{% block content %}
<!-- book section-->
    <div class="row book-section container">
        <!-- book image-->
        <div class="col s12 m4">
            <div class="grid card transparent shadow-box-none">
                <img src="{{get_book.image_url }}" alt="book cover image" class="book-image bookpage-card-image">
            </div>
        </div>
        <!--book description and info-->
        <div class="col s12 m8">
            <div class="card row">
                <div class="card-content">
                    <div class="col s12">
                        <div class="flexbox-container-bookpage-title">
                            <div class="book-name">
                                <h5 class="book-name">
                                    {{ get_book.book_name }}
                                </h5>
                            </div>
                            <div class="flex-item">
                                {% if review.averageRating %}
                                    <i class="material-icons star-icon-gold small">star</i>&nbsp;
                                        <h5>{{ review.averageRating }}</h5>
                                {% else %}
                                    <i class="material-icons star-icon-black small tooltipped" data-position="right" data-tooltip= "{{ review }}" >star</i>&nbsp;
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col s12 margin-after-title">
                        <p>
                            <span class= "bookpage-title">
                            Author:                                   
                            </span>
                                {{ get_book.author }}
                        </p>
                    </div>
                    <div class="col s12">
                        <p>
                            <span class="bookpage-title">
                            Genre:                                   
                            </span>
                                {{ get_book.genre_name }}
                        </p>
                    </div>
                    <div class="col s12 book-card-padding">
                        <p>
                        <br>
                        <span class="center bookpage-title">Description:
                        </span>
                            <br>
                                {{ get_book.description }}
                        </p>
                    </div>
                </div>
            </div>
             <!--edit and delete buttons for admin or book creater-->
             {% if (session.user|lower == get_book.created_by|lower or session.user|lower == "admin"|lower) %}               
             <div class="col s12 book-page-buttons">
                 <a href = "{{ url_for('edit_book', book_name=get_book.book_name, id=get_book._id) }}" class="waves-effect waves-light btn-small button-styling pink accent-1">
                    Edit
                </a>
                 <a href = "{{ url_for('delete_book', book_name=get_book.book_name, id=get_book._id) }}"  class="waves-effect waves-light btn-small button-styling pink accent-1">Delete</a>
             </div>
             {% endif %}
        </div>
    </div>
    <!--review section title-->
    <div class="row container">
        <div class="col s12">
            <h4 class = "center-align">
                User Reviews
            </h4>
        </div>
    </div>
    <!--review card-->
    <div class="row container">
        <div class="col s12">
            {% if get_book.review %}
                {% for eachreview in get_book.review %}
                <div class="card">
                    <div class="card-content">
                        <span class="card-title"><strong>{{ eachreview.title }}</strong>
                            {% if (session.user|lower == eachreview.username|lower or session.user|lower == "admin"|lower) %}
                                <i class="material-icons right activator pointer">more_horiz</i>
                            {% endif %}
                        </span>
                        <p>{{ eachreview.description }}</p>
                        <p>Posted by: {{ eachreview.username }} </p>
                        <p>Date: {{ eachreview.date }} </p>
                        {% if eachreview.rating == 5 %} 
                            <img src="../static/images/5stars.jpg" width="100px" alt="5 stars">
                        {% elif eachreview.rating == 4 %}
                            <img src="../static/images/4stars.jpg" width="100px" alt="4 stars">
                        {% elif eachreview.rating == 3 %}
                            <img src="../static/images/3stars.jpg" width="100px" alt="3 stars">
                        {% elif eachreview.rating == 2 %}
                            <img src="../static/images/2stars.jpg" width="100px" alt="2 stars">
                        {% elif eachreview.rating == 1 %}
                            <img src="../static/images/1star.jpg" width="100px" alt="5 stars">
                        {% endif %}
                    </div>
                    {% if (session.user|lower == eachreview.username|lower or session.user|lower == "admin"|lower) %}
                    <div class="card-reveal">
                        <span class = "card-title">
                            <i class="material-icons right">close</i>
                        </span>
                        <a href="{{ url_for('edit_review', book_name=get_book.book_name, book_id=get_book._id, username=eachreview.username, id=eachreview.review_id) }}">Edit</a>
                        <br>
                        <a href="{{ url_for('delete_review', book_name=get_book.book_name, book_id=get_book._id, username=eachreview.username, id=eachreview.review_id) }}">Delete</a>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            {% else %}
            <div class="card">
                <div class="card-content">
                    <div class="card-title center">No reviews yet!</div>
                    <!--lottie file-->
                    <p> Why not give it a go?! By submitting reviews, you're helping the entire Book bar community. More reviews = better book finds and We'll drink to that.</p>
                    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
                    <lottie-player src="https://assets4.lottiefiles.com/packages/lf20_twYDL9.json"  background="transparent"  speed="1"  style="width: 150px; height: 100px;margin:auto;" hover   autoplay></lottie-player>
                <!-- login-->
                    {% if not session.user %}
                    <p class="center">
                        To add a review, please
                        <a href="{{ url_for('login') }}" class="light-blue-text text-darken-4">Login.</a>
                    </p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <!--if user is not logged in, state they must be logged in to add a review-->
    <!--if user is logged in, show add a review card-->
    {% if session.user %}
    <div class="row container">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Add a Review</span>
                    <div class="card-body align-center">
                        <span>* Please note, only one user review for each book is permitted.</span>
                        <form method="POST" ation="{{url_for('review_book', book_name=get_book.book_name) }}">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input id="review_title" name="review_title" type="text" class="validate" min-length="2" max-length="25" required>
                                    <label for="review_title">Title</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea class="materialize-textarea" minlength="20" maxlength="800" name="review"
                                        id="review" rows="6"></textarea>
                                    <label for="review">Summary</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12 rating-wrapper">
                                    <div class="rate">
                                        <input type="radio" id="star5" name="rate" value= "5" required/>
                                        <label for="star5" title="text">5 stars</label>
                                        <input type="radio" id="star4" name="rate" value="4" />
                                        <label for="star4" title="text">4 stars</label>
                                        <input type="radio" id="star3" name="rate" value="3" />
                                        <label for="star3" title="text">3 stars</label>
                                        <input type="radio" id="star2" name="rate" value="2" />
                                        <label for="star2" title="text">2 stars</label>
                                        <input type="radio" id="star1" name="rate" value="1" />
                                        <label for="star1" title="text">1 star</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col s12">
                                    <div class="align-center center"><button class="waves-effect waves-light btn-small button-styling pink accent-1"
                                            type="submit">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}



{% endblock %}