{% extends "base.html" %}
{% block content %}

<h3 class="center-align"> Search Books</h3>
    <div class="row container">
    {% for book in books %}
        <div class="col s6 m4">
            <div class="card">
                <div class="card-image">
                    <img class = "activator" src="{{ book.image_url }}">
                </div>
                <div class="card-content cyan darken-1">
                <span class="card-title activator white-text custom-text">{{ book.book_name }}
                    <i class="material-icons right">more_vert</i>
                <p>{{ book.author }}</p>
                </span>
                </div>   
                <div class="card-reveal cyan darken-1"> 
                    <span class="card-title white-text custom-text">
                        <i class="material-icons right">close</i>
                        <strong>{{ book.book_name }}</strong>
                        <p> {{ book.genre_name }}</p>
                        {% if book.is_upvoted == "on" %}
                            <p>{{ book.is_upvoted }} </p>
                        {% endif %}
                    </span>
                </div>
                </div>
        </div>
    {% endfor %}
    </div>


{% endblock %}