{% extends "base.html" %}
{% block content %}

<h3 class="center-align">
    Edit Genre
</h3>
<p>
    Once you have altered the name of this genre, click save to submit your changes.
To go back, press cancel. 
</p>
<div class="row card-panel">
    <form class="col s12" method="POST" action="{{ url_for('edit_genre', genre_id=genre._id) }}">

        <!-- Add Genre -->
        <div class="row">
            <div class="input-field col s12">
                <input id="genre_name" name="genre_name" type="text" value="{{ genre.genre_name }}" class="validate" required>
                <label for="genre_name">Genre Name</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="waves-effect waves-light pink accent-1 btn">
                    Save
                </button>
                <a href="{{ url_for('get_genres') }}" class="waves-effect waves-light pink accent-1 btn">
                    Cancel
                </a>
            </div>
        </div>
    </form>
</div>

{% endblock %}