{% extends "base.html" %}
{% block content %}

    <h3 class="center-align"> Manage Genres</h3>
    <!--title-->
    <div class="row">
        <div class="col s12 center">
            <a href="{{ url_for('add_genre') }}" class="waves-effect waves-light pink accent-1 btn">
                Add Genre
            </a>
        </div>
    </div>
    <!--add genre section-->
    <div class="row container">
        <div class = "col s12">
            <p class = "center">
                Add a Genre below.
            </p>
        </div>
    </div>

    <!--genre cards-->
    {% for genre in genres %}
    <div class="row container">
        <div class="col s12 card-panel blue-grey darken-1 white-text">
            <div class="row flex-container">
                <div class="col s6">
                    <span class="card-title">{{ genre.genre_name }}</span>
                </div>
                <div class="col s6">
                    <a class="waves-effect waves-light pink accent-1 btn" href="{{ url_for('edit_genre', genre_id=genre._id) }}">Edit</a>
                    <a class="waves-effect waves-light pink accent-1 btn" href="{{ url_for('delete_genre', genre_id=genre._id) }}">Delete</a>
                </div>
            </div>
        </div>
    </div>  
    {% endfor %}


{% endblock %}