{% extends "base.html" %}
{% block content %}

    <!--page title-->
    <section class="row container">
        <div class="col s12 center">
            <h1 > Manage Genres</h1>
        </div>
    </section>
  
    <!--description section-->
    <section>
        <!--genre description section-->
        <div class="row container">
            <div class = "col s12">
                <p>
                    All genres currently stored in the database are listed below. From here, you can easily edit or delete each item in the collection.
                    
                </p>
            </div>
        </div>
        <!--add genre button-->
        <div class="row container">
            <div class="col s12 m9 l10">
                <p>
                    To add a new genre instead, please click on the following button:
                </p>
            </div>
            <div class="col s12 m3 l2">
                <a href="{{ url_for('add_genre') }}" class="waves-effect waves-light pink accent-1 btn add-button-color right">
                    Add Genre
                </a>
            </div>
        </div>
    </section>

    <!--genre cards-->
    <section class="row container">
        <!--genre card for each result-->
        {% for genre in genres %}
            <div class="col s6 m4 xl3 col-padding-mobile">
                <div class= "card small genre-card-height black center">
                    <!--card content-->
                    <div class="card-content black white-text">
                        <!--genre-name-->
                        <p class="card-title">{{ genre.genre_name}}</p>
                        <!--genre icon-->
                        <p class="material-icons">
                            {{ genre.genre_icon}}
                        </p>
                    </div>
                    <!-- edit & delete buttons-->
                    <div class="card-action">
                        <a class="waves-effect waves-light pink accent-1 btn edit-button-color" href="{{ url_for('edit_genre', genre_id=genre._id) }}">Edit</a>
                        <a class="waves-effect waves-light pink accent-1 btn delete-button-color" href="{{ url_for('delete_genre', genre_id=genre._id) }}">Delete</a>
                    </div>                   
                </div>
            </div>
        {% endfor %}
    </section>


{% endblock %}