{% extends "base.html" %}
{% block content %}

    
    <div class="row conatiner">
        <div class="col s12 m8 offset-m2">
            <div>
                <h3 class="center-align">
                    Welcome, {{ user.username }}.
                </h3>
             </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s12 card">
            <div class="card-content">
                <div class="col s12 m4 center">
                    <h5>
                        Your Activity
                    </h5>
                    <h6>Joined {{ diff }} ago</h6>
                    <h6>Books Added: {{ count }}</h6>
                    <span></span>
                    <h6>Reviews Added: {{review}}</h6>
                    <span></span>
                </div>
                <div class="col s12 m4 center">
                    <img src="../static/images/user.png" alt="stacked books" height="150">
                </div>
                <div class="col s12 m4 center">
                    <img src="../static/images/stackedbooks.png" alt="stacked books" height="100">
                    <h5>
                        <a href="{{ url_for('books_new') }}">Search the Book bar</a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row container">
        <div class="col s12">
            <h4 class = "center-align">
                Your Contributions
            </h4>
            <p> book added</p>
            {% for book in books %}
            {% if book.created_by|lower == session.user|lower %}
            {% if books.created_by|lower|length > 0 %}
            <p>books added</p>
            {% endif %}
            <!--show books added by user-->
            <div class="col s6 m4 xl3 col-padding-mobile">
                <div class="book-card">
                    <div class="card medium black">
                        <div class="card-image">
                            <img class = "activator" src="{{ book.image_url }}" width="400px">
                        </div>
                        <div class="card-content book-card-content black">
                            <div class="white-text custom-text">
                                <!-- average rating-->
                                <div class="books-rating">
                                    {% for avgrating in avgratings %}
                                        {% if avgrating._id == book._id %}
                                            <i class="material-icons star-icon-gold small">star</i>&nbsp;
                                            {{ avgrating.averageRating }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                                <!--book title-->
                                <p class="elipsed-text books-book-title">
                                    {{ book.book_name }}
                                </p>
                                <!--book author-->
                                <p class="left elipsed-text">
                                        - {{ book.author }}
                                </p>
                                <!--read more button-->
                                <div>
                                    <a href="{{ url_for( 'bookpage', book_name=book.book_name) }}" class="books-button-styling books-button">
                                        read more
                                                                        <!--genre icon-->
                                    <div class="book-genre-icon right">
                                        {% if book.genre_name == "Romance" %}
                                        <p class="material-icons">
                                            favorite_border
                                        </p>
                                        {% elif book.genre_name == "Children's Books" %}
                                        <p class="material-icons-outlined">
                                            accessibility
                                        </p>
                                        {% elif book.genre_name == "Fantasy & Sci-fi" %}
                                        <p class="material-icons-outlined">
                                            android
                                        </p>
                                        {% elif book.genre_name == "Crime & Thriller" %}
                                        <p class="material-icons-outlined">
                                            sports_kabaddi
                                        </p>
                                        {% elif book.genre_name == "Religious & Self-help" %}
                                        <p class="material-icons-outlined">
                                            self_improvement
                                        </p>
                                        {% endif %}
                                    </div>
                                    </a>
                                </div>
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}

            {% for book in books %}
            {% if book.review %}
            {% for eachreview in book.review %}
            {% if eachreview.username|lower == session.user|lower %}
            <!--show books added by user-->
            <p>{{eachreview.title}}</p>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if contributions|length > 0 %}
    <div class="row container">
    {% for book in books %}
        <div class="col s6 m4">
            <div class="card">
                <div class="card-image">
                    <img class = "activator" src="{{ book.image_url }}">
                </div>
                <div class="card-content cyan darken-1">
                <span class="card-title activator white-text custom-text">{{ book.book_name }}
                    <i class="material-icons right">more_vert</i>
                <p>{{ book.author }}</p>
                </span>
                </div>   
                <div class="card-reveal cyan darken-1"> 
                    <span class="card-title white-text custom-text">
                        <i class="material-icons right">close</i>
                        <strong>{{ book.book_name }}</strong>
                        <p> {{ book.genre_name }}</p>
                        {% if book.is_upvoted == "on" %}
                            <p>{{ book.is_upvoted }} </p>
                        {% endif %}
                        <p><a href="{{ url_for( 'bookpage', book_name=book.book_name) }}">click</a></p>                
                    </span>
                </div>
                </div>
        </div>
    {% endfor %}
    </div>
{% endif %}
    <!--pagination-->
    <div class="row">
        <div class="col s4 offset-s4 center-align">
            <ul class="pagination">
            {% if pages %}
                {% for i in range(pages) %}
                    <li class="waves-effect">
                        <a href="{{ url_for('books_new', page=loop.index) }}"
                            tabindex="-1">{{ loop.index }}
                        </a>
                    </li>
                {% endfor %}
            {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
